{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
				<div class="row">
					<div class="col-xl-9 col-xxl-12">
						<div class="row">
							<div class="col-xl-12">
								<div class="row">
									<div class="col-xl-8">
										<div class="card overflow-hidden">
											<div class="card-body custome-tooltip p-0">
												<div class="ttl-project">
													<div class="pr-data">
														<h5>12,721</h5>
														<span>Number of Projects</span>
													</div>
													<div class="pr-data">
														<h5 class="text-primary">721</h5>
														<span>Active Projects</span>
													</div>
													<div class="pr-data">
														<h5>$2,50,523</h5>
														<span>Revenue</span>
													</div>
													<div class="pr-data">
														<h5 class="text-success">12,275h</h5>
														<span>Working Hours</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>			
						</div>
					</div>
					<div class="col-xl-6 col-xxl-8 col-lg-7">
						<div class="card h-auto">
							<div class="card-header border-0 pb-3">
								<h4 class="heading mb-0">Recent posts</h4>
								<a href="javascript:void(0)" class="btn btn-sm btn-primary">View All</a>
							</div>
							<div class="card-body pt-0">
								<div class="swiper mySwiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="card-media">
														<img src="{% static 'dashboard/images/p1.gif' %}" alt="">
													</div>
													<div class="media-data">
														<h4><a href="project.html">Development planning</a></h4>
														<div class="d-flex align-items-center">
															<div class="avatar-list avatar-list-stacked">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic555.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic1.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
															</div>
															<span>21+ Team</span>
														</div>
														<div class="dateformat d-flex justify-content-between align-items-end">
															<div>
																<p>Due Date</p>
																<span>06 Sep 2021</span>
															</div>
															<span class="badge badge-danger light border-0">Pending</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="card-media">
														<img src="{% static 'dashboard/images/p3.gif' %}" alt="">
													</div>
													<div class="media-data">
														<h4><a href="project.html">Desinging planning</a></h4>
														<div class="d-flex align-items-center">
															<div class="avatar-list avatar-list-stacked">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic555.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic1.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
															</div>
															<span>21+ Team</span>
														</div>
														<div class="dateformat d-flex justify-content-between align-items-end">
															<div>
																<p>Due Date</p>
																<span>06 Sep 2021</span>
															</div>
															<span class="badge badge-info light border-0">Inprogress</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="card-media">
														<img src="{% static 'dashboard/images/p.gif' %}" alt="">
													</div>
													<div class="media-data">
														<h4><a href="project.html">Frontend Designing</a></h4>
														<div class="d-flex align-items-center">
															<div class="avatar-list avatar-list-stacked">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic555.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic1.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
															</div>
															<span>21+ Team</span>
														</div>
														<div class="dateformat d-flex justify-content-between align-items-end">
															<div>
																<p>Due Date</p>
																<span>06 Sep 2021</span>
															</div>
															<span class="badge badge-warning light border-0">Inprogress</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<div class="card-body">
													<div class="card-media">
														<img src="{% static 'dashboard/images/p2.gif' %}" alt="">
													</div>
													<div class="media-data">
														<h4>Compete this projects Monday</h4>
														<div class="d-flex align-items-center">
															<div class="avatar-list avatar-list-stacked">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic555.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic1.jpg' %}" class="avatar avatar-md rounded-circle" alt="">
																<img src="{% static 'dashboard/images/contacts/pic666.jpg' %}" class="avatar avatar-md  rounded-circle" alt="">
															</div>
															<span>21+ Team</span>
														</div>
														<div class="dateformat d-flex justify-content-between align-items-end">
															<div>
																<p>Due Date</p>
																<span>06 Sep 2021</span>
															</div>
															<span class="badge badge-primary light border-0">Inprogress</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
{% endblock content %}		
